/* Variables */
$vin-blue: #5bb7db;
$vin-green: #60b044;
$vin-red: #ff0000;

// COLORS 

$bg_main: #234050;
$bg_light: #2E4E5D;
$primary: #D79E80;
$secondary: #000000;
$danger: #E36565;
$text_on_bg: #FFF4E7;
$text_on_primary: #000000;
$text_on_secondary: #FFFFFF;

// METRICS

$tiny_spacing: 4px;
$smallest_spacing: 8px;
$small_spacing: 16px;
$medium_spacing: 24px;
$big_spacing: 32px;
$biggest_spacing: 40px;

/* Styles */
body {
  font: 14px 'Roboto Condensed';
  line-height: 1.4em;
  color: #4d4d4d;
  min-width: 230px;
  max-width: 550px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
}

td {
	padding: 12px;
}

h2 {
	color: $vin-blue;
}
input {
  border: 1px solid ;
  background-color: $bg_light;
  height: 40px;
}

.savings { color: $vin-green; }
.loss { color: $vin-red; }
input.small { width: 46px; }
td.fuel-savings-label { width: 175px; }
