@import '../../styles/styles.scss';

.empty {
    &-page{
        height: 70%;
    }
    &-container {
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    &-icon{
        font-size: 7em !important;
        padding-bottom: $smallest_spacing;
        color:  FFF4E7;

    }
    &-iconContainer{
        background: radial-gradient( #315362 9%, #355868 40%, transparent 73%);
        width: 250px;
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


.chipContainer {
    background-color: $primary_transparent_20_perc;
    border: 2px solid $primary;
    display: flex;
    padding: $smallest_spacing;
    align-items: center;
    justify-content: space-around;
    margin-left: $small_spacing;
    & > strong {
        padding-left: $smallest_spacing;
    }
    & > p {
        margin: 0;
    }
}

@keyframes popUpEnterAnimation {
    0% {
        transform: scale(0.3) translateY(-70%);
        opacity: 0;
    }
    100% {
        transform: scale(1) translateY(-70%);
        opacity: 1;
    }
}

.popup {
    &-container {
        background-color: $bg_main;
        width: 60%;
        margin: auto;
        position: relative;
        top: 50%;
        transform: translateY(-70%);
        padding: $small_spacing;
        animation: popUpEnterAnimation 0.6s ease-in-out;
    }
    &-titleRow {
        display: flex;
        justify-content: space-between;
    }
    &-closeButton {
        background-color: $danger !important;
    }
    &-blurredBg {
        background-color: $bg_light_transparent;
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        width: 100%;
        height: 100%;
        z-index: 10;
    }
    &-titleContainer {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        & h3, p {
            padding: 0px;
            margin: 0px;
        }
    }
    &-buttonRow {
        margin-top: $medium_spacing;
        position: absolute;
        bottom: $small_spacing;
        right: $small_spacing;
        display: flex;
    }
    &-content {
        margin-bottom: 60px;
    }
}

.togglegroup {
    width: 100%;
    & > button {
        border: 1px solid $text_on_bg;
        border-radius: 0px;
        max-width: 200px;
    }
    & > button:first-child {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        max-width: 200px;
    }
    & > button:last-child {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        max-width: 200px;
    }
}