@import '../../styles/styles.scss';

.empty {
    &-page{
        height: 70%;
    }
    &-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        h3 {
            margin: $tiny_spacing;
        }
    }
    &-icon{
        font-size: 7em !important;
        padding-bottom: $smallest_spacing;
        color:  FFF4E7;

    }
    &-iconContainer{
        background: radial-gradient( #315362 0%, #315362 5%, #325463 10%, #325564 15%, #335665 20%, #345666 25%, #345767 30%, #355868F0 35%, #355868E0 40%, #355868E0 42%, #355868C0 45%, #355868A0 50%, #35586880 55%, #35586860 60%, #35586830 65%, #35586810 70%, transparent 73%, transparent 100%);
        width: 250px;
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}




.chipContainer {
    background-color: $primary_transparent_20_perc;
    border: 2px solid $primary;
    display: flex;
    padding: $smallest_spacing;
    align-items: center;
    justify-content: space-around;
    margin-left: $small_spacing;
    & > strong {
        padding-left: $smallest_spacing;
    }
    & > p {
        margin: 0;
    }
}

@keyframes popUpEnterAnimation {
    0% {
        transform: scale(0.3) translateY(-70%);
        opacity: 0;
    }
    100% {
        transform: scale(1) translateY(-70%);
        opacity: 1;
    }
}

.popup {
    &-container {
        background-color: $bg_main;
        width: 70%;
        margin: auto;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        padding: $small_spacing;
        animation: popUpEnterAnimation 0.6s ease-in-out;
    }
    &-titleRow {
        display: flex;
        justify-content: space-between;
    }
    &-closeButton {
        background-color: $danger !important;
    }
    &-blurredBg {
        background-color: $bg_light_transparent;
        position: fixed;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        width: 100%;
        height: 100%;
        z-index: 10;
    }
    &-titleContainer {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        & h3, p {
            padding: 0px;
            margin: 0px;
        }
    }
    &-buttonRow {
        margin-top: $medium_spacing;
        position: absolute;
        bottom: $small_spacing;
        right: $small_spacing;
        display: flex;
    }
    &-content {
        margin-bottom: 60px;
    }
    &-slider {
        color: $primary;
        & span[class^="PrivateValueLabel-circle-"] {
            color: $primary !important;
        }
    }
    &-sliderValues {
        display: flex;
        justify-content: space-between;
        font-size: 80%;
    }
    &-createButton {
        white-space: nowrap;
        width: 200px;
    }

}

.togglegroup {
    width: 100%;
    transform: translateY(-50%);
    & > button {
        border: 1px solid $text_on_bg;
        border-radius: 0px;
        max-width: 200px;
        margin: 0px;
        background-color: $bg_main;
        & > span {
            color: $text_on_bg;
        }
        &:hover {
            background-color: $bg_light;
        }
    }
    & > button:first-child {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        max-width: 200px;
    }
    & > button:last-child {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        max-width: 200px;
    }
    &-ranges {
        & > span {
            font-weight: 100;
            padding-left: $smallest_spacing;
            padding-right: $smallest_spacing;
        }
        &_active {
            & span {
                font-weight: 900;
            }
        }

    }
    &-values {
        & > span {
            font-weight: 100;
            padding-left: $smallest_spacing;
            padding-right: $smallest_spacing;
        }
        &_active {
            & span {
                font-weight: 900;
            }
        }
    }
}

.filterBase {
    &-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        & > * {
            width: 100%;
            margin: 0 $small_spacing;
        }
        & > *:last-child {
            width: 170px;
            min-width: 170px;
        }
    }
    &-name {
        & input {
            height: 24px !important;
        }
    }
    &-autocomplete {
        width: 100%;
    }
    &-selected {
        display: flex;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
        & > p {
            margin-left: $tiny_spacing;
            font-weight: 400;
        }
    }
}

.chipListInput {
    display: flex;
    flex-direction: column;

    &-container {
        display: flex;
        flex-direction: column;
    }
    &-chipsContainer {
        margin: $smallest_spacing;
        margin-left: 0;
    }
    &-chip {
        margin: $tiny_spacing $smallest_spacing;
        & > span {
            color: $text_on_primary;
            font-size: 1.1em;
        }
    }
    &-inputFields {
        display: flex;
        justify-content: baseline;
        & > div {
            width: 100%;
            margin-right: $small_spacing;
            margin-top: 0;
        }
        & > Button {
            width: 30%;
            height: 50px;
            margin: 0;
        }
    }
}

.login {
    &-container {
        max-height: 100px;
        display: flex;
    }
    &-input {
        padding-top: 50px;
        max-width: 300px;
    }
    &-variable {
        max-width: 400px;
    }
    &-selected {
        padding-left: 20px;
    }
}

.sectionBox {
    border: 1px solid $bg_light;
    background-color: transparent;
    padding: $small_spacing;
    margin: $smallest_spacing;
    position: relative;

    & > h1, > h2, > h3, > h4, > h5, > h6, > p, > b, > strong, > label, > a, > li, > div, > span {
        color: $text_on_bg;
    }

    &-title {
        position: absolute;
        top: -12px;
        background-color: $bg_main;
        padding: 0 $smallest_spacing;
    }
}
