@import '../../styles/styles.scss';

.project {
    &-headerContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &-closeButton {
        background-color: $danger !important;
        margin: $small_spacing !important;
    }

    &-logo{
        margin: $small_spacing !important;
    }

    &-footerContainer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: $bg_main;
        margin-top: 650px;
        height: fit-content;
    }

    &-previoustButton{
        background-color: $bg_main !important;
        color: #D79E80 !important;
        border: 2px;
        border-color: #D79E80;
    }

    &-progressBar {
        width: 65%

    }
}